<h1>
  This is your Sails homepage!
  <h1>
    <h2>
      What are you here for?
      <h2>
        <form action="/viewData">
          <button>View Data</button>
        </form>
        <br />
        <form action="/addData">
          <button>Add Data</button>
        </form>
        <br />
        <form action="/updateData">
          <button>Update Data</button>
        </form>
        <br />
        <form action="/viewSpecificData">
          <button>View Specific Data</button>
        </form>
      </h2>
    </h2>
  </h1>
</h1>
