<body>
  <h1>Go, enter your data!</h1>
  <form action="/getPartsByNameID" method="GET">
    <input
      type="text"
      ,
      name="jobName"
      ,
      placeholder="Enter Job Name"
      ,
      required
    />
    <input
      type="number"
      ,
      name="partID"
      ,
      placeholder="Enter Part ID"
      ,
      required
    />
    <button>Get Details</button>
  </form>
  <br />
  <form action="/">
    <button>Home</button>
  </form>
  <br />
  <form action="/viewData">
    <button>View Data</button>
  </form>
</body>
